@use './base.scss';

// put your custom CSS here!

img {
  margin: auto;
  display: block;
}

// hide the site name on mobile and show the logo instead
.site-logo {
  display: none;
  height: 28px;
}

@media (max-width: 800px) {
  .site-name {
    display: none;
  }

  .site-logo {
    display: inline;
  }
}

@media (prefers-color-scheme: light) {
  .light-only {
    display: inline;
  }

  .dark-only {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .light-only {
    display: none;
  }

  .dark-only {
    display: inline;
  }
}